*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* start header part*/
header{
    width:100%;
    height:68px;
    background-color:#262626;
    display:flex;
    position:fixed;
    top: 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(f,f,f,0.7);
    box-shadow: 3px 3px 3px rgb(0,0,0,0.5);
    z-index: 1;
}
.logo a{
    display:block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:700;
    font-style:italic;
    font-size:30px;
    text-transform: uppercase;
    color:wheat;
    text-decoration: none;
    margin-top:15px;
    margin-left:10px;
    cursor: pointer;
    text-shadow: -5px -5px 5px #fff;
}
.logo a::before{
    content:'';
    width:330px;
    height:40px;
    background-color:#262626;
    transform: scale(1.2);
    position:absolute;
    border-radius: 2px;
    animation: logoa 1s 0.1s linear forwards;
}
/*.logo a::before aniamtion*/
@keyframes logoa{
    to{
        width: 0px;
    }
}
/*.logo a::before aniamtion*/
nav{
    align-items: center;
    justify-content: center;
    display: flex;
}
nav ul{
    list-style-type:none;
    position:absolute;
    left:50%;
}
nav ul li{
    width:99px;
    height: 43px;
    float:left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:20px;
    text-transform: uppercase;
    background:transparent;
    line-height: 45px;
    margin: 5px;
    text-align:center;
    z-index: 999;
    position:relative;
    animation: ulli 1s 0.1s linear forwards;
    z-index: 1;
}
/*nav ul li*/
@keyframes ulli{
    form{
        transform: scale(1.2);
    }
    to{
        transform: scale(1.1);
    }
}
/*nav ul li*/
nav ul ul{
    position:absolute;
    top: 35px;
    left: -7px;
    display: none;
}
nav ul li:hover > ul{
    display: block;
}
nav ul li ul li{
    width:102px;
    height:40px;
    border: 1px solid rgb(5, 0, 164,0.5);
    text-transform: uppercase;
    text-align:center;
}
nav ul li ul li a{
    text-decoration:none;
    color:rgb(5, 0, 164);
    background:transparent;
    display: block;
}
nav ul li ul li a:hover{
    background-color:black;
    color:yellow;
    transform: scale(1.0);
    border-color:rgb(255, 0, 55);
}
nav ul li ul li a:active{
    background-color:dodgerblue;
    color:brown;
    transition: all 0.1s 0.1s linear;
}
nav ul li a{
    text-decoration:none;
    color:white;
    display:block;
    transition: all 0.3s 0.1s linear;
}
nav ul li a:hover{
    color:brown;
    transform: scale(1.2);
    display: block;
}
.color{
    color:cornflowerblue;
    text-shadow: 6px 6px 6px cornflowerblue;
}
/*header part end*/
/*display part start*/
.section1{
    width:100%;
    height:100vh;
    background-image:url(u.jpg);
    background-repeat: no-repeat;
    background-position: -2000px -1179px;
    overflow:hidden;
    position:relative;
}
.section1 .heading_text h1{
    position: absolute;
    top:250px;
    left:200px;
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:800;
    font-style: normal;
    font-size: 40px;
    color:rgb(141, 228, 141);
    animation-name: h11;
    animation-duration: 1s;
    animation-delay: 0.1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    opacity: 0.1;
}
/*.section1 .heading_text h1 animation*/
@keyframes h11{
    to{
            position: absolute;
            top:190px;
            left:8%;
            opacity: 1;
    }
}
/*.section1 .heading_text h1 animation*/
.section1 .heading_text p{
    position:absolute;
    top:250px;
    left:240px;
    font-weight:bold;
    color:rgb(56, 68, 55);
    font-size:25px;
    transform: translateY(15px);
}
/*display part End*/
/*footer label start*/
.footer-lavel{
    width:100%;
    height:520px;
    background-color:#262626;
    box-shadow: 10px 10px 10px rgb(0,0,0,0.5);
    overflow:hidden;
}
.footer-lavel .box1{
    margin-left:70px;
    margin-top:50px;
    float:left;
    box-shadow: 5px 5px 5px rgb(0,0,0,0.5),
    -5px -5px 5px rgb(0,0,0,0.5);
}
.footer-lavel .box1 img{
    width:400px;
    height:400px;
    border: 1px solid black;
    border-radius:5px;
    outline: 10px solid #1d1d1d;
    outline-offset:5px;
    animation:  labelimg 4s 0.1s linear infinite alternate backwards running; 
}
/*.footer-lavel .box1 img animation*/
@keyframes labelimg{
    to{
        opacity:0.1;
    }
    form{
        opacity:1;
    }
}
/*.footer-lavel .box1 img animation*/
.footer-lavel .textarea{
    width:391px;
    height:396px;
    border-radius:10px;
    margin-left:550px;
    margin-top:70px;
    transition-property: all;
    transition-duration:0.3s;
    transition-delay: 0.1s;
    transition-timing-function: linear;
    position:relative;
}
.footer-lavel .textarea:hover{
    box-shadow: 5px 5px 5px rgb(0,0,0,0.5),
    -5px -5px 5px rgb(0,0,0,0.5);
    display: block;
}
.footer-lavel .textarea h1{
    text-align:center;
    text-transform: uppercase;
    color:#676872;
    margin:10px;
    padding-top:10px;
}
.footer-lavel .textarea p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:normal;
    text-align: center;
    letter-spacing: 5px;
    color:yellow;
    margin:auto;
    line-height:15px;
}
.footer-lavel .textarea a{
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:20px;
    cursor:pointer;
    text-transform: uppercase;
    background: radial-gradient(red,black);
    padding: 10px;
    border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
    border: 1px solid steelblue;
    color:white;
    position:absolute;
    left: 130px;
    top: 300px;
    display: none;
    box-shadow: 5px 5px 5px rgb(0,0,0,0.6),
    -5px -5px 5px rgb(0,0,0,0.6);
    transition: all 0.2s 0.1s linear;
}
.footer-lavel .textarea a:hover{
    color:blue;
    background: radial-gradient(red 50%,black);

}
.footer-lavel .textarea a:active{
    color:burlywood;
    background-color:dimgray;
}
.footer-lavel .textarea:hover a{
    display: block;
}
/*footer label end*/
/*footer start*/
footer{
    width:100%;
    height:328px;
    background-color:#1d1d1d;
    margin-top:10px;
    box-shadow: 5px -5px 5px rgb(0,0,0,0.5);
    display: flex;
    position:relative;
}
.footer_col{
    width:200px;
    margin-left:110px;
    margin-top:30px;
}
.footer_col ul{
    list-style:none;
}
.footer_col h4{
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom:20px;
    font-size:20px;
    color:yellow;
    position:relative;
}
.footer_col h4::before{
    content:'';
    width:0px;
    height:2px;
    background-color:#000fff;
    position:absolute;
    top:35px;
    animation: before 2s 0.1s linear infinite alternate backwards running;
}
/*.footer_col h4::before animation*/
@keyframes before{
    to{
        width:60px;
        background-color:rgb(97, 118, 27);
    }
    form{
        background-color:#000fff;
        width: 0px;
    }
}
/*.footer_col h4::before animation*/
.footer_col ul{
    line-height: 30px;
    text-transform: capitalize;
}
.footer_col ul li a{
    text-decoration:none;
    color:wheat;
}
.footer_col ul li a:hover{
    text-indent: 5px;
    color:brown;
    display: block;
}
footer .box2{
    width:100%;
    height:30px;
    position:absolute;
    bottom: 0;
    background-color:rgb(65, 65, 65);
    opacity: 0.7;
}
footer .box2 p{
    display: block;
    text-align: center;
    line-height:29px;
    color:rgb(209, 209, 209);
    word-spacing: 5px;
    letter-spacing: 5px;
}
/*footer close*/
/*mobile view*/
@media (max-width:768px){
    nav .ul1{
        position:fixed;
        top: 0;
        right: 0;
        flex-wrap:wrap;
        align-items:center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    nav .ul1::before{
        content:'';
        width:100%;
        height:100%;
        background-color:#262626;
        position:absolute;
        border-radius: 5px;
        border-bottom: 1px solid;
        border-color:linear-gradient(#000fff,red);
    }
    nav ul ul{
        position: absolute;
        top: -10px;
        left: -110px;
    }
    nav ul li{
        float:none;
    }
    .section1 .heading_text h1{
        font-size:20px;
    }
    .section1 .heading_text p{
        position:absolute;
        left:100px;
        top:220px;
    }
    .logo a{
        font-size:20px;
        line-height: 40px;
    }
    .footer-lavel{
        position:relative;
        height:fit-content;
    }
    .footer-lavel .textarea{
        width:300px;
        height:300px;
        position:absolute;
        top: 300px;
        left: 0;
    }
    .footer-lavel .box1{
        float:none;
        margin-bottom:50px;
    }
    .footer-lavel .box1 img{
        width:400px;
        height:400px;
    }
    .footer_col{
        width:100px;
        margin-left:60px;
    }
}
/*mobile view*/